<p style="color: green"><%= notice %></p>

<h1>Comentários</h1>

<div id="comments">
  <% @comments.each do |comment| %>
    <h3><%= comment.body %></h3>
    <p>
      post:
      <%= comment.post.title %><br />
      <%= link_to "Mostrar...", comment %>
    </p>
    <hr />
  <% end %>
</div>

<%= link_to "Novo comentário", new_comment_path %>
